<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link rel="stylesheet" href="../static/css/Style.css"> 
</head>
<body>
    <h1>Bem-vindo ao Sistema BestMeals</h1>
        <div class="MenuDeOpcoes"><h2>Opções</h2>
            <li><a href="/Restaurantes">Restaurantes</a></li>
            <li><a href="/Restaurantes/Consultar">Avaliação de Restaurantes</a></li>
        </div>
</body>
</html>
