<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/Style.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Style.css') }}">
    <title>Consultar</title>
</head>
<body>
    <h1>Restaurantes Avaliados</h1>
    <div class="Tabela">
        <table border="3">
            <tr>
                <th>Nome do Restaurante</th>
                <th>Ver Avaliações</th>
            </tr>
            {% for item in TabelaAvaliacaoRestaurante %}
            <tr>
                <td>{{ item[0] }}</td>
                <td>
                    <a href="/Restaurante/VerAvaliacoes/{{ item[0] }}">👁️</a> 
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <button class="botao-voltar" onclick="window.location.href='/'">⬅️</button>

</body>
</html>