<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/Style.css">
    <link rel="stylesheet" href="../static/css/Style-Restaurante-Cadastrar.css">
    <title>Cadastrar</title>
</head>
<body>

    <h1>Cadastrar Restaurante</h1>
    
<div class="FormularioCadastrar">
    <form action="/Restaurantes/Cadastrar/Confirmado" method="POST">
        <h2>Preencha os dados:</h2>
        <li><input type="text" name="NomeRestaurante" placeholder = "Nome" required></li>
        <li><input type="text" name="Endereco" placeholder="Endereço" required></li>
        <li><input type="text" name="Cidade" placeholder="Cidade" required></li>
        <li><input type="text" name="Estado" placeholder="Estado" required></li>
        <li><input type="text" name="CEP" placeholder="CEP" required pattern="\d{8}" title="Digite um CEP válido com 8 números" maxlength="8"></li>
        <li><button class="botao-confirmar" type="submit">Adicionar</button></li>
    </form>
</div>

<div class="botao-voltar-container">
    <button class="botao-voltar" onclick="window.location.href='/Restaurantes'">⬅️</button>
</div>

</body>
</html>